*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

.login-container{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.login-card{
    min-width: 400px;
    width: 30%;
    height: 70%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background:rgb(247, 247, 247);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    transition:0.2s;
}

.login-card hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.login-card h1{
    text-align:center;
    padding-top: 8%;
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.login-card img{
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 30px;
}

.login-input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top:0.5rem;
    margin-bottom:2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
}

.login-input input{
    width: 100%;
    padding: 4%;
    font-size: 1rem;
    border-radius:2rem;
    border:1px solid #ccc;
    transition:0.2s;
}

.login-btn{
    display: block;
    text-align: center;
    font-size: 150%;
    padding: 2%;
    background:orange;
    color: white;
    border-radius: 2rem;
    text-decoration: none;
    width: 40%;
    margin: auto;
}

.login-btn:hover{
    text-decoration: none;
    color: white;
    background:rgb(234, 158, 51);
}

.log{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2rem;
}

.forget-btn{
    display: block;
    text-align: center;
    font-size: 150%;
    padding: 2%;
    background:rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    text-decoration: none;
    width: 40%;
    margin: auto;
}

.forget-btn:hover{
    text-decoration: none;
    background:rgb(198, 196, 196);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#signup-btn:hover{
    color: rgb(138, 122, 181);
}

.navbar{
    height: 60px;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    font-weight: bold;
    background:orange;
}

#signup-text{
    font-size:1rem;
    margin-top:15px;
    text-align: center;
}

#signup-btn{
    color: blue;
}

.content{
    display: flex;
}

.sidebar{
    width: 30vh;
    border-right: 1px solid black;
    height: 93vh;

    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    background:#ffc107;

    gap: 20px;
}

.main{
    flex:1;
    padding: 40vh;
    background:#f5f5f5;
}

.sidebar p{
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar p:hover{
    background:#dbb043;
}

body{
    background-color: rgb(49, 145, 161);
}